{ "services":[
{% for item in snmp_ip %} 
   {
        "name": "blackbox - {{ item }}",
        "tags": [
            "blackbox:{{ item }}",
            "blackbox_consul"
        ]
    }
{% if not loop.last %}
    ,
{% endif %}
{% endfor %}
  ]
}
