{ "services":[
{% for item in snmp_ip %} 
   {
        "name": "snmp - {{ item }}",
        "tags": [
            "snmp:{{ item }}",
            "snmp_consul"
        ]
    }
{% if not loop.last %}
    ,
{% endif %}
{% endfor %}
  ]
}
