[
{% for item in compute_ip %}
   {% set value = item.split('.') %}
   {
        "targets": [
            "{{ item }}:{{libvirt_exporter_port}}"
        ],
        "labels": {
            "compute": "{{ value[0] }}"
        }
    }
{% if not loop.last %}
    ,
{% endif %}
{% endfor %}
]
