[
   {
        "targets": [
{% for item in groups['testGroup'] %} 
            "{{ hostvars[item]['ansible_default_ipv4']['address'] }}:{{node_exporter_port}}" {% if not loop.last %} , {% endif %}
{% endfor %}

        ],
        "labels": {
            "node_exporter": "node_exporter"
        }
    }
]
